body {
  margin: 0;
  padding: 0;
  background-image: url("/Assets/Background.png");
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  margin: 8rem auto 8rem auto;
  width: 50%;
}

input,
button {
  padding: 0.5rem;
  border-style: none;
  border-radius: 10px;
}

input {
  background-color: gainsboro;
}

button {
  background-color: rgb(76, 109, 180);
  color: white;
  font-weight: bold;
}

p {
  color: rgb(39, 39, 39);
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar img {
  padding-right: 0.6rem;
}

.Up {
  background-color: rgb(123, 123, 221);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 10px 10px 0 0;
}
.Down {
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 2rem;
}

@media (max-width: 700px) {
  main {
    width: 75%;
    margin: 3rem auto 3rem auto;
  }

  input {
    margin: 1.5rem 0;
  }
  .Down {
    padding: 1.5rem;
  }
}
